body {
    background-color: rgb(247, 242, 170);
}
#wrapper {
    width: 900px;
    margin: 30px auto;
}
#menu, #footer, th {
    background-color: #F8AA03;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
#menu a:hover, #menu ul a.active {
    text-decoration: underline;
}
#menu a:link, #menu a:visited {
    color: white;
    text-decoration: none;
}
#menu li {
    display: inline-block;
    margin: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
#right {
    width: 300px;
    background-color: rgb(248, 225, 124);
    padding: 10px;
    border-left: 1px dashed #F8AA03;
    box-sizing: border-box;
}
#right li {
    font-size: smaller;
}
#content {
    width: 600px;
    background-color: rgb(255, 235, 145);
    padding: 10px;
}
p, ul {
    text-align: justify;
}
table {
    text-align: center;
}
h1, h2 {
    text-shadow: 1px 1px 1px rgb(151, 146, 138);
}
#footer {
    text-align: center;
    color: white;
    padding: 25px;
}
#flex {
    display: flex;
    width: 900px;
    border-right: 1px dashed #F8AA03;
    border-left: 1px dashed #F8AA03;
    box-sizing: border-box;
}